.header {
    background: url('../../static/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
}



.container {
    display: flex;
    justify-content: space-between;
}
.home .side {
    /*background-color: #c71d1d;*/
    flex-basis: 20rem;
}

.body {
    display: flex;
}
.column {
    flex-flow: column;
}




.item {
    /*background-color: #e7e9ea;*/
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px
}

.article {
    /*background-color: mediumpurple;*/
    align-self: flex-start;
    flex-basis: 100rem;
    display: flex;
    flex-flow: column;
}

.article .title {
    /*background-color: white;*/
    text-align: left;
    padding: 5px;
}

.article .title .text-title {
    font-weight: bold;
    font-size: 24px;
}

.article .title .text-date {
    padding-left: 5px;
    font-size: 12px;
    color: darkgray;
}


.article .excerpt {
    /*background-color: whitesmoke;*/
    text-align: left;
    padding: 5px;
    color: #69655d;
    font-size: 14px;
}

.article .link, :visited {
    /*background-color: pink;*/
    align-self: flex-start;
    padding: 5px;
    font-size: 12px;
    color: #bf6868;
}




.checkMore {
    margin-top: 15px;
    color: crimson;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .home .side {
        /*background-color: #c71d1d;*/
        /*flex-grow: 1;*/
        flex-basis: 5rem;
    }
}